#bod{

	background-image: url('../images/chef_at_ichi.jpg');
	 -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
}

#theader{
color: White;
font-size: 50px;

}

#theader2{
color: white;
font-size: 20px;

}

#tback{
 background-color: rgba(120,209,236,.3);
 margin: 250px 0px 0px 0px;
 text-align: center;
 vertical-align: center;

}

#border{

	 border: 2px solid skyblue;
    -moz-border-radius: 33px;
    -webkit-border-radius: 33px;
    -khtml-border-radius: 33px;
    border-radius: 33px;
}